.input-dark {
  appearance: none;
  background-color: var(--input-base);
  color: var(--input-placeholder);
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  outline: 1px solid var(--input-stroke);
  font: var(--body-sm);
  padding: 0.75rem 1rem;
}

.button-dark {
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
  gap: 0.5rem;
  background-color: var(--shape-button);
  color: var(--text-heading);
  font: 600 0.875rem/normal var(--font-family-3);
  width: 7.43rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.button-light {
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
  gap: 0.5rem;
  background-color: var(--brand-dark);
  color: var(--text-heading);
  font: 600 0.875rem/normal var(--font-family-3);
  width: 11.06rem;
  height: 3rem;
  border-radius: 0.5rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.flex-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 1rem;
}

.flex-2 {
  display: inline-flex;
  justify-content: space-between;
}
